/*! _variables.scss | Vuero | Css ninja 2020-2021 */

/*
    1. Main Colors
    2. Global colors
    3. Brands colors
    4. Fonts
    5. Layout
    6. Base Shadows
    7. State Shadows
    8. Stack Shadows
    9. Brand Shadows
    10. Additional Colors Shadows
    11. Import bulma utilities
*/

/* ==========================================================================
1. Main Colors
========================================================================== */

$primary: #41b883;
$secondary: #346beb;
$accent: #41b883;

/* ==========================================================================
2. Global colors
========================================================================== */

$body-color: #f9f9f9;

$white: #fff;
$smoke-white: #fcfcfc;
$light-white: #f9f9f9;

$placeholder: #cecece;
$muted-grey: #999;
$fade-grey: #ededed;
$accent-grey: #ccc;
$background-grey: #f0f0f0;
$section-grey: #fcfcfc;
$medium-grey: #ddd;
$light-grey: #eee;
$lighter-grey: #e5e5e5;
$widget-grey: #f5f6fa;

$dark-text: #283252;
$light-text: #a2a5b9;
$title-grey: #a9abac;

$danger: #e62965;
$info: #039be5;
$success: #06d6a0;
$warning: #faae42;

$h-purple: #8269b2;
$h-blue: #37c3ff;
$h-red: #f92b60;
$h-orange: #ffa981;
$h-yellow: #ffd66e;
$h-green: #93e088;
$h-pink: #ff9eb8;
$h-light-blue: #77d2f3;

$active: #6dcff6;

$sidebar: #344258;

$dark: $dark-text;
$dark-sidebar: #232326;
$dark-dark-text: #aaaab3;
$landing-dark-1: #0c0e14;
$landing-dark-2: #191c2b;

/* ==========================================================================
3. Brands colors
========================================================================== */

$javascript: #f7df1e;
$angular: #dd1b16;
$reactjs: #00d8ff;
$android: #a4c639;
$swift: #ef3e31;
$vuejs: #4dba87;
$wordpress: #21759b;
$csharp: #9a4993;
$nodejs: #6cc24a;
$html: #f16529;

$facebook: #3b5998;
$twitter: #1dcaff;
$linkedin: #007bb6;
$tumblr: #35465c;
$github: #444;
$dribbble: #ea4c89;
$google-plus: #d34836;
$youtube: #cc181e;
$reddit: #ff4500;
$invision: #f36;
$amazon: #f90;
$instagram: #e1306c;

$vuero-colors: (
  primary: $primary,
  secondary: $secondary,
  accent: $accent,
  info: $info,
  success: $success,
  warning: $warning,
  danger: $danger,
  light-text: $light-text,
  h-purple: $h-purple,
  h-blue: $h-blue,
  h-green: $h-green,
  h-orange: $h-orange,
  h-red: $h-red,
  h-yellow: $h-yellow,
  javascript: $javascript,
  angular: $angular,
  reactjs: $reactjs,
  android: $android,
  swift: $swift,
  vuejs: $vuejs,
  wordpress: $wordpress,
  csharp: $csharp,
  nodejs: $nodejs,
  html: $html,
  facebook: $facebook,
  twitter: $twitter,
  linkedin: $linkedin,
  tumblr: $tumblr,
  github: $github,
  dribbble: $dribbble,
  google-plus: $google-plus,
  youtube: $youtube,
  reddit: $reddit,
  invision: $invision,
  amazon: $amazon,
  instagram: $instagram,
);

/* ==========================================================================
4. Fonts
========================================================================== */

$font: "Roboto", sans-serif;
$font-alt: "Montserrat", sans-serif;
$font-monospace: "Fira Code", monospace;

/* ==========================================================================
5. Layout
========================================================================== */

$fullhd-enabled: false;
$body-size: 14px;
$spaceamounts: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100;
$sides: top, bottom, left, right;

$radius-small: 2px;
$radius: 4px;
$radius-large: 6px;
$radius-rounded: 9999px;

/* ==========================================================================
6. Base Shadows
========================================================================== */

//Base shadow
$base-shadow: rgba(0, 0, 0, 0.12);

//Light
$light-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
$light-box-shadow-md: -1px 3px 10px 0 rgba(0, 0, 0, 0.12);

//Primary
$primary-shadow-from: rgba($primary, 0.42);
$primary-shadow-to: rgba($primary, 0.2);
$primary-box-shadow: 0 14px 26px -12px $primary-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $primary-shadow-to;

//Secondary
$secondary-shadow-from: rgba($secondary, 0.42);
$secondary-shadow-to: rgba($secondary, 0.2);
$secondary-box-shadow: 0 14px 26px -12px $secondary-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $secondary-shadow-to;

//Accent
$accent-shadow-from: rgba($accent, 0.42);
$accent-shadow-to: rgba($accent, 0.2);
$accent-box-shadow: 0 14px 26px -12px $accent-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $accent-shadow-to;

/* ==========================================================================
7. State Shadows
========================================================================== */

//Success
$success-shadow-from: rgba($success, 0.42);
$success-shadow-to: rgba($success, 0.2);
$success-box-shadow: 0 14px 26px -12px $success-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $success-shadow-to !important;

//Info
$info-shadow-from: rgba($info, 0.42);
$info-shadow-to: rgba($info, 0.2);
$info-box-shadow: 0 14px 26px -12px $info-shadow-from, 0 4px 23px 0 $base-shadow,
  0 8px 10px -5px $info-shadow-to !important;

//Warning
$warning-shadow-from: rgba($warning, 0.42);
$warning-shadow-to: rgba($warning, 0.2);
$warning-box-shadow: 0 14px 26px -12px $warning-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $warning-shadow-to !important;

//Danger
$danger-shadow-from: rgba($danger, 0.42);
$danger-shadow-to: rgba($danger, 0.2);
$danger-box-shadow: 0 14px 26px -12px $danger-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $danger-shadow-to !important;

/* ==========================================================================
8. Stack Shadows
========================================================================== */

//Javascript
$js-shadow-from: rgba($javascript, 0.42);
$js-shadow-to: rgba($javascript, 0.2);
$js-box-shadow: 0 14px 26px -12px $js-shadow-from, 0 4px 23px 0 $base-shadow,
  0 8px 10px -5px $js-shadow-to !important;

//Angular
$angular-shadow-from: rgba($angular, 0.42);
$angular-shadow-to: rgba($angular, 0.2);
$angular-box-shadow: 0 14px 26px -12px $angular-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $angular-shadow-to !important;

//React
$reactjs-shadow-from: rgba($reactjs, 0.42);
$reactjs-shadow-to: rgba($reactjs, 0.2);
$reactjs-box-shadow: 0 14px 26px -12px $reactjs-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $reactjs-shadow-to !important;

//Android
$android-shadow-from: rgba($android, 0.42);
$android-shadow-to: rgba($android, 0.2);
$android-box-shadow: 0 14px 26px -12px $android-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $android-shadow-to !important;

//Swift
$swift-shadow-from: rgba($swift, 0.42);
$swift-shadow-to: rgba($swift, 0.2);
$swift-box-shadow: 0 14px 26px -12px $swift-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $swift-shadow-to !important;

//Wordpress
$wordpress-shadow-from: rgba($wordpress, 0.42);
$wordpress-shadow-to: rgba($wordpress, 0.2);
$wordpress-box-shadow: 0 14px 26px -12px $wordpress-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $wordpress-shadow-to !important;

//C#
$csharp-shadow-from: rgba($csharp, 0.42);
$csharp-shadow-to: rgba($csharp, 0.2);
$csharp-box-shadow: 0 14px 26px -12px $csharp-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $csharp-shadow-to !important;

/* ==========================================================================
9. Brand Shadows
========================================================================== */

//Github
$github-shadow-from: rgba($github, 0.42);
$github-shadow-to: rgba($github, 0.2);
$github-box-shadow: 0 14px 26px -12px $github-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $github-shadow-to !important;

//Invision
$invision-shadow-from: rgba($invision, 0.42);
$invision-shadow-to: rgba($invision, 0.2);
$invision-box-shadow: 0 14px 26px -12px $invision-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $invision-shadow-to !important;

//Linkedin
$linkedin-shadow-from: rgba($linkedin, 0.42);
$linkedin-shadow-to: rgba($linkedin, 0.2);
$linkedin-box-shadow: 0 14px 26px -12px $linkedin-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $linkedin-shadow-to !important;

//Amazon
$amazon-shadow-from: rgba($amazon, 0.42);
$amazon-shadow-to: rgba($amazon, 0.2);
$amazon-box-shadow: 0 14px 26px -12px $amazon-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $amazon-shadow-to !important;

//Facebook
$facebook-shadow-from: rgba($facebook, 0.42);
$facebook-shadow-to: rgba($facebook, 0.2);
$facebook-box-shadow: 0 14px 26px -12px $facebook-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $facebook-shadow-to !important;

//Twitter
$twitter-shadow-from: rgba($twitter, 0.42);
$twitter-shadow-to: rgba($twitter, 0.2);
$twitter-box-shadow: 0 14px 26px -12px $twitter-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $twitter-shadow-to !important;

/* ==========================================================================
10. Additional Colors Shadows
========================================================================== */

//h-blue
$h-blue-shadow-from: rgba($h-blue, 0.42);
$h-blue-shadow-to: rgba($h-blue, 0.2);
$h-blue-box-shadow: 0 14px 26px -12px $h-blue-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $h-blue-shadow-to !important;

//h-yellow
$h-yellow-shadow-from: rgba($h-yellow, 0.42);
$h-yellow-shadow-to: rgba($h-yellow, 0.2);
$h-yellow-box-shadow: 0 14px 26px -12px $h-yellow-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $h-yellow-shadow-to !important;

//h-orange
$h-orange-shadow-from: rgba($h-orange, 0.42);
$h-orange-shadow-to: rgba($h-orange, 0.2);
$h-orange-box-shadow: 0 14px 26px -12px $h-orange-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $h-orange-shadow-to !important;

//h-green
$h-green-shadow-from: rgba($h-green, 0.42);
$h-green-shadow-to: rgba($h-green, 0.2);
$h-green-box-shadow: 0 14px 26px -12px $h-green-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $h-green-shadow-to !important;

//h-purple
$h-purple-shadow-from: rgba($h-purple, 0.42);
$h-purple-shadow-to: rgba($h-purple, 0.2);
$h-purple-box-shadow: 0 14px 26px -12px $h-purple-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $h-purple-shadow-to !important;

/* ==========================================================================
11. Import bulma utilities
========================================================================== */

@import "bulma/sass/utilities/_all.sass";
