/*! _navbar.scss | Vuero | Css ninja 2020-2021 */

/*
    1. Mobile Navbar
    2. Mobile Navbar Dark mode
    3. Webapp Navbar
    4. Webapp Navbar Dark mode
    5. Webapp Subnavbar
*/

/* ==========================================================================
3. Webapp Navbar
========================================================================== */

.navbar-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: $white;
  transition: all 0.3s;
  border-bottom: 1px solid $fade-grey;
  z-index: 100;

  &.is-transparent {
    background: transparent;
    box-shadow: none;
    border-bottom-color: transparent;

    &.is-solid,
    &.is-scrolled {
      background: $white;
      border-bottom-color: $fade-grey;
    }

    &.is-solid {
      box-shadow: none !important;
    }

    &.is-scrolled {
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    }
  }

  &.is-colored {
    background: $landing-dark-2;
    border-bottom-color: $landing-dark-2;

    .navbar-navbar-inner {
      .left {
        .separator {
          border-color: lighten($landing-dark-2, 18%);
        }

        .title {
          color: $smoke-white;
        }
      }

      .center {
        .centered-links {
          .centered-link {
            &:hover {
              background: darken($landing-dark-2, 6%);

              svg {
                color: $smoke-white;
              }

              span {
                color: $smoke-white;
              }
            }

            &.is-active {
              background: darken($landing-dark-2, 12%);
              border-color: lighten($landing-dark-2, 6%);

              &:hover {
                background: darken($landing-dark-2, 12%);
              }

              svg {
                color: $smoke-white;
              }

              span {
                color: $smoke-white;
              }
            }

            svg {
              color: $light-text;
            }

            span {
              color: $light-text;
            }
          }
        }

        .centered-drops {
          .centered-drop {
            .dropdown {
              &:hover {
                .is-trigger {
                  .button {
                    background: darken($landing-dark-2, 6%);
                    color: $smoke-white;
                  }
                }
              }

              &.is-active {
                .is-trigger {
                  .button {
                    background: darken($landing-dark-2, 12%);
                    border-color: lighten($landing-dark-2, 6%);
                  }
                }
              }

              .is-trigger {
                .button {
                  background: $landing-dark-2;
                  color: $light-text;

                  .caret {
                    margin-left: 0;
                  }
                }
              }
            }
          }

          .centered-button {
            .button {
              background: $landing-dark-2;
              color: $light-text;

              &:hover {
                background: darken($landing-dark-2, 6%);
                color: $smoke-white;
              }
            }
          }
        }

        .centered-search {
          .field {
            .control {
              .input {
                background: darken($primary, 10%);
                border-color: darken($primary, 6%);
                color: $smoke-white;

                &::placeholder {
                  color: lighten($primary, 2%);
                }

                &:focus ~ .form-icon svg {
                  color: $smoke-white;
                }
              }

              .form-icon svg {
                color: lighten($primary, 6%);
              }
            }
          }
        }
      }

      .right {
        .toolbar {
          .toolbar-link {
            &:hover {
              background: darken($landing-dark-2, 12%);
              border-color: darken($landing-dark-2, 12%);
            }

            > svg {
              color: $smoke-white;
            }
          }

          .dropdown {
            &:hover {
              .is-trigger {
                background: darken($landing-dark-2, 12%);
                border-color: darken($landing-dark-2, 12%);
              }
            }

            .is-trigger svg {
              color: $smoke-white;
            }
          }
        }

        .icon-link {
          background: $landing-dark-2;

          &:hover {
            background: darken($landing-dark-2, 12%);
          }

          > svg {
            color: $smoke-white;
            stroke: $smoke-white;
          }
        }
      }
    }
  }

  .navbar-navbar-inner {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    .left {
      display: flex;
      align-items: center;
      width: 25%;

      .brand {
        display: flex;
        align-items: center;

        img {
          display: block;
          min-width: 38px;
          height: 38px;
        }

        span {
          font-family: $font;
          font-size: 0.95rem;
          color: $muted-grey;
          letter-spacing: 1px;
          max-width: 50px;
          line-height: 1.2;
          margin-left: 8px;
        }
      }

      .separator {
        height: 38px;
        width: 2px;
        border-right: 1px solid darken($fade-grey, 4%);
        margin: 0 20px 0 16px;
      }

      .project-dropdown {
        margin-right: 12px;
        cursor: pointer !important;

        > img {
          height: 32px;
          width: 32px;
          border-radius: $radius-rounded;
        }

        .dropdown-menu {
          margin-top: 28px;

          .dropdown-content {
            padding-top: 0;
            padding-bottom: 0;
            overflow: hidden;

            .dropdown-block {
              display: flex;
              align-items: center;
              padding: 16px;

              &:hover {
                background: lighten($fade-grey, 4%);
              }

              .meta {
                margin-left: 12px;
                font-family: $font;

                span {
                  display: block;

                  &:first-child {
                    font-size: 0.95rem;
                    font-weight: 500;
                    color: $dark-text;
                    line-height: 1.2;
                    max-width: 140px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                  }

                  &:nth-child(2) {
                    //text-transform: uppercase;
                    color: $light-text;
                    font-size: 0.85rem;
                  }
                }
              }
            }
          }
        }
      }
    }

    .center {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 2;
      width: 50%;

      .centered-links {
        display: flex;
        width: 100%;
        max-width: 580px;

        .centered-link {
          flex: 1 1 0;
          text-align: center;
          padding: 10px 0;
          border-radius: 8px;
          border: 1px solid transparent;
          margin: 0 4px;
          transition: all 0.3s;

          &:hover {
            background: lighten($fade-grey, 4%);
          }

          &.is-active {
            background: $white;
            border-color: darken($fade-grey, 3%);
            box-shadow: $light-box-shadow;

            &:hover {
              background: $white;
            }

            svg {
              color: $primary;
            }

            span {
              color: darken($primary, 8%);
            }
          }

          svg {
            height: 20px;
            width: 20px;
            color: lighten($light-text, 6%);
            stroke-width: 1.6px;
            transition: stroke 0.3s;
          }

          span {
            display: block;
            font-family: $font;
            font-size: 0.65rem;
            color: $muted-grey;
            text-transform: uppercase;
            transition: all 0.3s;
            cursor: pointer;
          }
        }
      }

      .centered-drops {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 580px;

        .centered-drop,
        .centered-button {
          //flex: 1 1 0;
          text-align: center;
          padding: 10px 0;
          border-radius: 8px;
          border: 1px solid transparent;
          margin: 0 4px;
          transition: all 0.3s;

          > .button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            height: 40px;
            width: 40px;
            border: none;
            margin: 0 auto;
            box-shadow: none;
            border-radius: $radius-rounded;
            color: $light-text;
            transition: all 0.3s;

            &:hover {
              background: lighten($fade-grey, 3%);
              color: $primary;
            }

            svg {
              height: 20px;
              width: 20px;
              stroke-width: 1.6px;
            }
          }

          .dropdown {
            &:hover {
              .is-trigger {
                .button {
                  background: lighten($fade-grey, 3%);
                }
              }
            }

            &.is-active {
              .is-trigger {
                .button {
                  background: $white;
                  border-color: darken($fade-grey, 3%);
                  box-shadow: $light-box-shadow !important;
                }
              }
            }

            &.has-mega-dropdown {
              .dropdown-menu {
                width: 600px;

                .dropdown-content {
                  padding: 0;

                  .content-wrap {
                    position: relative;

                    .back-button {
                      position: absolute;
                      top: 10px;
                      right: 10px;
                      opacity: 1;
                    }

                    .mega-menus {
                      display: none;
                      animation: fadeInLeft 0.5s;

                      &.is-active {
                        display: flex;
                      }

                      a {
                        .meta {
                          > span {
                            display: inline-block;
                          }

                          .tag {
                            line-height: 1.8;
                            height: 1.8em;
                            font-size: 0.65rem;
                            margin-left: 0.2rem;
                          }
                        }
                      }
                    }
                  }

                  .category-selector {
                    padding: 20px 30px;
                    animation: fadeInLeft 0.5s;

                    .title-wrap {
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      margin-bottom: 12px;

                      h4 {
                        font-family: $font-alt;
                        font-weight: 600;
                        color: $dark-text;
                      }
                    }

                    .category-selector-inner {
                      display: flex;
                      flex-wrap: wrap;
                      margin-left: -8px;
                      margin-right: -8px;

                      .category-item {
                        width: calc(20% - 16px);
                        margin: 8px;
                        text-align: center;
                        padding: 16px 12px;
                        background: $white;
                        border: 1px solid darken($fade-grey, 3%);
                        border-radius: 10px;
                        cursor: pointer;
                        transition: all 0.3s;

                        &:hover {
                          box-shadow: $light-box-shadow;

                          i {
                            color: $primary;
                          }

                          span {
                            color: $primary;
                          }
                        }

                        i {
                          color: $light-text;
                          font-size: 1.6rem;
                          margin-bottom: 10px;
                        }

                        span {
                          display: block;
                          text-transform: uppercase;
                          font-size: 0.75rem;
                          font-weight: 500;
                          color: $dark-text;
                        }
                      }

                      .placeholder-image {
                        margin-left: auto;
                        max-width: 140px;
                        max-height: 100px;
                      }
                    }
                  }

                  .columns {
                    height: 100%;
                  }

                  .column {
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    height: 100%;
                  }

                  .dropdown-item-group {
                    &.has-margin-top {
                      margin-top: 20px;
                    }

                    .column-heading {
                      display: flex;
                      align-items: center;
                      font-family: $font;
                      font-size: 0.85rem;
                      font-weight: 600;
                      color: $dark-text;
                      text-transform: uppercase;
                      padding: 20px;
                      border-bottom: 1px solid darken($fade-grey, 3%);

                      &.is-primary {
                        svg {
                          color: $primary;
                        }
                      }

                      &.is-secondary {
                        svg {
                          color: $secondary;
                        }
                      }

                      &.is-info {
                        svg {
                          color: $info;
                        }
                      }

                      &.is-success {
                        svg {
                          color: $success;
                        }
                      }

                      &.is-warning {
                        svg {
                          color: $warning;
                        }
                      }

                      &.is-danger {
                        svg {
                          color: $danger;
                        }
                      }

                      &.is-green {
                        svg {
                          color: $h-green;
                        }
                      }

                      &.is-yellow {
                        svg {
                          color: $h-yellow;
                        }
                      }

                      &.is-purple {
                        svg {
                          color: $h-purple;
                        }
                      }

                      &.is-orange {
                        svg {
                          color: $h-orange;
                        }
                      }

                      svg {
                        stroke-width: 3px;
                        height: 12px;
                        width: 12px;
                        margin-right: 6px;
                      }
                    }

                    .column-content {
                      padding: 10px 20px 20px 20px;
                      max-height: 240px;
                    }
                  }

                  .dropdown-item {
                    border: 1px solid transparent;
                    border-radius: 10px;
                    font-family: $font-alt;
                    font-size: 0.9rem;

                    &.is-media {
                      &:hover,
                      &.router-link-exact-active,
                      &.is-active {
                        .meta {
                          span {
                            color: $dark-text;
                          }
                        }
                      }

                      &.router-link-exact-active,
                      &.is-active {
                        background: $white;
                        border: 1px solid darken($fade-grey, 3%);
                        box-shadow: $light-box-shadow;
                      }

                      .meta {
                        margin-left: 6px;

                        span {
                          font-weight: 500;
                          font-size: 0.85rem;
                          color: $light-text;
                        }
                      }
                    }
                  }
                }
              }
            }

            .is-trigger {
              padding-right: 0 !important;

              .button {
                font-family: $font-alt;
                font-size: 0.9rem;
                color: $dark-text;
                min-height: 40px;
                padding-left: 0.75rem !important;
                padding-right: 0.75rem !important;
                border-color: transparent;
                transition: all 0.3s;
              }
            }

            .dropdown-menu {
              margin-top: 28px;
              text-align: left;
            }
          }
        }

        .centered-button {
          max-width: 50px;
        }
      }

      .centered-search {
        width: 100%;
        max-width: 580px;

        .field {
          margin-bottom: 0;

          .control {
            .form-icon {
              &.is-right {
                left: unset !important;
                right: 6px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 25%;

      .toolbar {
        .dropdown {
          .dropdown-menu {
            margin-top: 28px;
          }
        }
      }

      .icon-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 34px;
        width: 34px;
        border-radius: $radius-rounded;
        margin: 0 4px;
        transition: all 0.3s;

        &:hover {
          background: $white;
          border-color: $fade-grey;
          box-shadow: $light-box-shadow;
        }

        svg {
          height: 18px;
          width: 18px;
          stroke-width: 1.6px;
          color: $light-text;
          transition: stroke 0.3s;
          vertical-align: 0;
          transform: none;
        }
      }

      .profile-dropdown {
        > img {
          height: 32px;
          width: 32px;
          border-radius: $radius-rounded;
          margin: 0 4px;
          cursor: pointer;
        }

        .dropdown-menu {
          margin-top: 28px;

          .dropdown-content {
            padding-top: 0;
            overflow: hidden;

            .dropdown-head {
              display: flex;
              align-items: center;
              padding: 20px 16px 20px 16px;
              margin-bottom: 12px;
              background: #fafafa;

              .meta {
                margin-left: 12px;
                font-family: $font;

                span {
                  display: block;

                  &:first-child {
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: $dark-text;
                    line-height: 1.2;
                  }

                  &:nth-child(2) {
                    text-transform: uppercase;
                    color: $light-text;
                    font-size: 0.7rem;
                  }
                }
              }
            }

            .logout-button {
              svg {
                color: $smoke-white !important;
              }
            }
          }
        }
      }
    }
  }
}

/* ==========================================================================
4. Webapp Navbar Dark mode
========================================================================== */

.is-dark {
  .navbar-navbar:not(.is-colored) {
    background: darken($dark-sidebar, 2%);
    border-color: lighten($dark-sidebar, 1%);

    &.is-transparent {
      background: transparent;
      box-shadow: none;
      border-bottom-color: transparent;

      &.is-solid,
      &.is-scrolled {
        background: darken($dark-sidebar, 2%);
        border-color: lighten($dark-sidebar, 1%);
      }
    }

    .navbar-navbar-inner {
      .left {
        .separator {
          border-color: lighten($dark-sidebar, 12%);
        }

        .project-dropdown {
          .dropdown-menu {
            .dropdown-content {
              .dropdown-block {
                background: lighten($dark-sidebar, 2%) !important;

                &:hover {
                  background: lighten($dark-sidebar, 5%) !important;
                }

                .meta {
                  span {
                    &:first-child {
                      color: $dark-dark-text !important;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .center {
        .centered-links {
          .centered-link {
            &.is-active {
              background: lighten($dark-sidebar, 2%);
              border-color: lighten($dark-sidebar, 12%);

              &:hover {
                background: lighten($dark-sidebar, 2%);
              }

              span {
                color: $accent;
              }

              svg {
                color: $accent;
              }
            }
          }
        }

        .centered-drops {
          .centered-drop {
            > .dropdown {
              &:hover {
                .is-trigger {
                  background: transparent !important;

                  .button {
                    background: lighten($dark-sidebar, 2%);
                    border-color: lighten($dark-sidebar, 2%);
                  }
                }
              }

              &.is-active {
                .is-trigger {
                  .button {
                    background: lighten($dark-sidebar, 2%);
                    border-color: lighten($dark-sidebar, 12%) !important;
                  }
                }
              }

              &.has-mega-dropdown {
                .dropdown-menu {
                  .dropdown-content {
                    .category-selector {
                      .title-wrap {
                        h4 {
                          color: $dark-dark-text;
                        }
                      }

                      .category-selector-inner {
                        .category-item {
                          background: lighten($dark-sidebar, 4%);
                          border-color: lighten($dark-sidebar, 12%);

                          &:hover {
                            i,
                            span {
                              color: $accent;
                            }
                          }

                          span {
                            color: $dark-dark-text;
                          }
                        }
                      }
                    }

                    .mega-menus {
                      .dropdown-item-group {
                        .column-heading {
                          color: $dark-dark-text;
                          border-color: lighten($dark-sidebar, 12%);
                        }

                        .column-content {
                          .is-media {
                            &:hover {
                              .meta {
                                span:first-child {
                                  color: $smoke-white;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              .is-trigger {
                .button {
                  background: transparent;
                  border: none;
                }
              }
            }
          }
        }

        .centered-button {
          > .button {
            background: transparent !important;
            border: none;

            &:hover {
              background: lighten($dark-sidebar, 3%) !important;
            }
          }
        }
      }

      .right {
        .profile-dropdown {
          .dropdown-menu {
            .dropdown-content {
              .dropdown-head {
                background: lighten($dark-sidebar, 2%) !important;

                &:hover {
                  background: lighten($dark-sidebar, 2%) !important;
                }

                .meta {
                  &:hover {
                    background: lighten($dark-sidebar, 2%) !important;
                  }

                  span {
                    &:first-child {
                      color: $dark-dark-text !important;
                    }
                  }
                }
              }
            }
          }
        }

        .icon-link {
          background: darken($dark-sidebar, 2%);

          &:hover {
            background: lighten($dark-sidebar, 2%);
          }
        }
      }
    }
  }

  .navbar-navbar {
    &.is-colored {
      .navbar-navbar-inner {
        .left {
          .title {
            color: $smoke-white !important;
          }
        }

        .center {
          .centered-links {
            .centered-link {
              &:hover {
                background: darken($accent, 5%);

                svg {
                  color: $smoke-white;
                }

                span {
                  color: $smoke-white;
                }
              }

              &.is-active {
                svg {
                  color: $smoke-white;
                }

                span {
                  color: $smoke-white;
                }
              }
            }
          }

          .centered-drops {
            .centered-drop {
              .dropdown {
                &:hover {
                  .is-trigger {
                    .button {
                      color: $smoke-white;
                    }
                  }
                }

                &.is-active {
                  .is-trigger {
                    .button {
                      color: $smoke-white;
                    }
                  }
                }

                &.has-mega-dropdown {
                  .dropdown-menu {
                    .dropdown-content {
                      .category-selector {
                        .title-wrap {
                          h4 {
                            color: $dark-dark-text;
                          }
                        }

                        .category-selector-inner {
                          .category-item {
                            background: lighten($dark-sidebar, 4%);
                            border-color: lighten($dark-sidebar, 12%);

                            &:hover {
                              i,
                              span {
                                color: $accent;
                              }
                            }

                            span {
                              color: $dark-dark-text;
                            }
                          }
                        }
                      }

                      .mega-menus {
                        .dropdown-item-group {
                          .column-heading {
                            color: $dark-dark-text;
                            border-color: lighten($dark-sidebar, 12%);
                          }

                          .column-content {
                            .is-media {
                              &:hover {
                                .meta {
                                  span:first-child {
                                    color: $smoke-white;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .centered-button {
              .button {
                &:hover {
                  color: $smoke-white !important;
                }
              }
            }
          }

          .centered-search {
            .field {
              .control {
                .input {
                  color: $smoke-white;

                  &:focus ~ .form-icon svg {
                    color: $smoke-white !important;
                  }
                }
              }
            }
          }
        }

        .right {
          .toolbar {
            .toolbar-link {
              &:hover {
                background: darken($landing-dark-2, 12%) !important;
                border-color: darken($landing-dark-2, 12%) !important;
              }

              > svg {
                color: $smoke-white;
              }
            }

            .dropdown {
              .is-trigger {
                &:hover {
                  background: darken($landing-dark-2, 12%) !important;
                  border-color: darken($landing-dark-2, 12%) !important;
                }

                svg {
                  color: $smoke-white;
                }
              }
            }
          }

          .profile-dropdown {
            .dropdown-menu {
              .dropdown-content {
                .dropdown-head {
                  &:hover {
                    background: darken($landing-dark-2, 12%);
                    border-color: darken($landing-dark-2, 12%);
                  }

                  .meta {
                    &:hover {
                      background: lighten($dark-sidebar, 2%) !important;
                    }

                    span {
                      &:first-child {
                        color: $dark-dark-text !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .navbar-subnavbar {
    background: lighten($dark-sidebar, 2%);
    border-color: lighten($dark-sidebar, 4%);

    .navbar-subnavbar-inner {
      .tabs {
        li {
          &.is-active {
            a {
              border-color: lighten($dark-sidebar, 12%);
              background: darken($dark-sidebar, 2%);
              color: $accent;
              opacity: 1;
            }

            &:hover {
              a {
                background: darken($dark-sidebar, 2%);
              }
            }
          }

          .router-link-exact-active {
            border-color: lighten($dark-sidebar, 12%);
            background: darken($dark-sidebar, 2%);
            color: $accent;
            opacity: 1;

            &:hover {
              background: darken($dark-sidebar, 2%);
            }
          }

          &:hover {
            a {
              background: lighten($dark-sidebar, 8%);
            }
          }

          a {
            opacity: 0.6;
          }
        }
      }

      .tab-content {
        .tab-content-inner {
          .center {
            .column {
              border-color: lighten($dark-sidebar, 12%);
            }

            .column-heading {
              color: $dark-dark-text;
            }

            .column-placeholder {
              &:hover {
                border-color: $accent;

                h3 {
                  color: $accent;
                }
              }

              h3 {
                color: $dark-dark-text;
              }
            }

            ul {
              li {
                &:hover {
                  a {
                    opacity: 1;
                    color: $accent;
                  }
                }

                &.is-active {
                  border-color: $accent;

                  a {
                    opacity: 1;
                    color: $accent;
                  }
                }

                a {
                  opacity: 0.6;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ==========================================================================
5. Webapp Subnavbar
========================================================================== */

.navbar-subnavbar {
  position: fixed;
  width: 100%;
  height: 0;
  background: $white;
  opacity: 0;
  pointer-events: none;
  z-index: 99;
  transform: translateY(10px);
  border: 1px solid darken($fade-grey, 3%);
  box-shadow: $light-box-shadow;
  transition: all 0.3s;
  max-width: 800px;
  top: 85px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: $radius-large;

  &.is-active {
    height: 320px;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }

  .navbar-subnavbar-inner {
    position: relative;
    height: 100%;
    width: 100%;
    display: none;

    &.is-active {
      display: block;
    }

    .tabs {
      margin: 0 auto 10px auto;

      &.is-3 {
        max-width: 410px;
      }

      &.is-2 {
        max-width: 280px;
      }

      &.is-4 {
        max-width: 460px;
      }

      ul {
        display: flex;
        border: none !important;
        padding: 10px 0;

        li {
          flex: 1 1 0;

          &.is-active {
            a {
              font-weight: 600;
              color: $primary;
              background: $white;
              border-color: darken($fade-grey, 3%);
              box-shadow: $light-box-shadow;
            }

            &:hover {
              a {
                background: $white;
              }
            }
          }

          &:hover {
            a {
              background: lighten($fade-grey, 4%);
            }
          }

          a {
            text-transform: uppercase;
            font-family: $font-alt;
            font-size: 0.65rem;
            letter-spacing: 1px;
            padding: 10px 16px;
            border: 1px solid transparent;
            border-radius: 8px;
            margin: 0 10px;
            transition: all 0.3s;
          }
        }
      }
    }

    .tab-content {
      padding: 0 20px;

      .tab-content-inner {
        display: flex;
        align-items: stretch;
        min-height: 220px;

        .center {
          flex-grow: 2;
          max-width: 940px;
          max-height: 220px;
          margin: 0 auto;
          padding: 10px 20px 0 20px;

          .columns {
            height: 100%;
          }

          .column {
            &:not(:last-child) {
              border-right: 1px solid darken($fade-grey, 3%);
            }
          }

          .column-heading {
            font-family: $font-alt;
            font-size: 0.7rem;
            font-weight: 600;
            color: $dark-text;
            text-transform: uppercase;
            margin-bottom: 12px;
          }

          .column-placeholder {
            @include vuero-r-card();

            text-align: center;
            padding: 16px !important;
            margin-top: 4px;
            margin-bottom: 10px;

            &:hover {
              border-color: $primary;
              box-shadow: $light-box-shadow;

              h3 {
                color: $primary;
              }
            }

            > img {
              display: block;
              width: 100%;
              max-width: 34px;
              margin: 0 auto 6px auto;
            }

            h3 {
              font-family: $font-alt;
              font-size: 0.85rem;
              font-weight: 600;
              color: $dark-text;
              transition: color 0.3s;
            }
          }

          ul {
            li {
              transition: all 0.3s;
              margin-bottom: 6px;

              &:hover {
                a {
                  color: $primary;
                }
              }

              &.is-active {
                border-radius: 0;

                a {
                  color: darken($primary, 14%);

                  svg {
                    opacity: 1;
                    fill: $primary;
                  }
                }
              }

              .router-link-exact-active {
                color: darken($primary, 14%);

                svg {
                  opacity: 1;
                  fill: $primary;
                }
              }

              a {
                display: flex;
                align-items: center;
                color: lighten($light-text, 5%);

                span {
                  font-family: $font;
                  font-size: 0.9rem;
                }

                .lnil,
                .lnir,
                .fas,
                .fal,
                .fab,
                .far {
                  margin-right: 10px;
                }

                .tag {
                  line-height: 1.6;
                  height: 1.7em;
                  font-size: 0.65rem;
                  margin-left: 0.25rem;
                }

                svg {
                  opacity: 0;
                  position: relative;
                  top: 0;
                  margin-left: 12px;
                  height: 6px;
                  width: 6px;
                  stroke-width: 2px;
                  fill: $primary;
                  transition: all 0.3s;
                }
              }
            }
          }
        }
      }
    }
  }
}

.is-dark {
  .navbar-subnavbar {
    .navbar-subnavbar-inner {
      .tab-content {
        .tab-content-inner {
          .center {
            .column {
              &:not(:last-child) {
                border-right: 1px solid lighten($dark-sidebar, 12%) !important;
              }
            }
            .column-placeholder {
              @include vuero-card--dark();
            }
          }
        }
      }
    }
  }
}
